@font-face {
  font-family: 'Poiret One';
  src: url('/fonts/PoiretOne-Regular.woff') format('woff'),
       url('/fonts/PoiretOne-Regular.ttf') format('truetype');
}

body {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 110%;
  background-color: #f3f3f3;
  color: #340f20;
}

main {
  width: 60%;
  margin: 0 auto;
}

section {
  padding-left: 10%;
  padding-right: 10%;
}

span.site-title {
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  font-size: 500%;
  text-align: center;
}

p, li, dd, dt {
  line-height: 1.7;
}

dd, dt {
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dl {
  display: -webkit-grid;
  display: grid;
  -webkit-grid-template-rows: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  -webkit-grid-auto-flow: column;
  grid-auto-flow: column;
  margin-left: 20px;
}

ol {
  margin: 0;
  padding-left: 0;
}

p, dl {
  margin-top: 20px;
  margin-bottom: 20px;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

kbd {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ccc;
}

img#logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.yt-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.yt-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#consoleDisplay {
  width: 100%;
  height: auto;

  border-bottom: 2px dashed #bda1af;
}

footer {
  width: 100%;
  margin-top: 120px; /* clear past console operator */
  padding-bottom: 20px;
  background-color: #380f21;
  color: #bda1af;
}

#footerContent {
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Poiret One', cursive;
  text-align: center;
  letter-spacing: 2pt;
}

#footerContent a {
  color: #bda1af;
}

#footerContent span.footer-message {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

#footer-console-operator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;

  max-width: 100%;
  height: auto;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
  padding-left: 40%;
  padding-right: 40%;
}

.footer-contacts a {
  display: block;
}

.footer-contacts a:not(:last-child) {
  margin-right: 20px;
}

.proscenium {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 20%;
  background-color: #340f20;
}

.proscenium-left {
  left: 0;
  background: repeating-linear-gradient(90deg, #340f20, #523144 33.33%, white 3%);
}

.proscenium-right {
  right: 0;
  background: repeating-linear-gradient(270deg, #340f20, #523144 33.33%, white 3%);
}

@media screen and (max-width: 480px) {
  .proscenium {
    display: none;
  }

  main {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
