@font-face {
  font-family: 'Poiret One';
  src: url('../fonts/PoiretOne-Regular.ttf') format('woff'),
       url('../fonts/PoiretOne-Regular.woff') format('truetype');
}

body {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 110%;
  background-color: #f3f3f3;
  color: #340f20;
}

main {
  width: 60%;
  margin: 0 auto;
}

section {
  padding-left: 10%;
  padding-right: 10%;
}

h1.site-title {
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  font-size: 500%;
  text-align: center;
}

p, li, dd, dt {
  line-height: 1.7;
}

dd, dt {
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dl {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  margin-left: 20px;
}

ol {
  margin: 0;
  padding-left: 0;
}

p, dl {
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
  &:last-child { margin-bottom: 0; }
}

kbd {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ccc;
  border-radius: 2px;
}

img#logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.yt-embed {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  padding-top: 25px;
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#canvas-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & #console-display { width: 100%; }

  & #start-audio-overlay {
    position: absolute;
    top: 0; right:0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: rgba(189, 115, 145, 0.35);
    border-radius: 4px;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    transition: background 0.35s ease-in;

    & #start-audio-btn {
      z-index: 2;
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      background: #82344f;
      color: #f3f3f3;
      font-size: 22px;
      letter-spacing: 3px;
      cursor: pointer;
    }
    & #mobile-warning {
      display: none;
      z-index: 2;
      width: 75%;
    }
  }
}

@keyframes disappear {
  from { opacity: 1; }
  to { opacity: 0; display: none; }
}

footer {
  width: 100%;
  margin-top: 120px; // clear past console operator
  padding-bottom: 20px;
  background-color: #380f21;
  color: #bda1af;

  #footerContent {
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: 'Poiret One', cursive;
    text-align: center;
    letter-spacing: 2pt;

    & a { color: #bda1af; }

    & span.footer-message {
      display: block;
      font-size: 1.5em;
      margin-top: 0.83em;
      margin-bottom: 0.83em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }

    #footer-console-operator {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -120px;

      max-width: 100%;
      height: auto;

      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .footer-contacts {
    display: flex;
    justify-content: space-around;
    padding-left: 40%;
    padding-right: 40%;

    & a {
      display: block;
      margin-right: 20px;
      &:last-child { margin-right: 0; }
    }
  }
}

.proscenium {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: #340f20;

  &.proscenium-left {
    left: 0;
    background: repeating-linear-gradient(90deg, #340f20, #523144 33.33%, white 3%);
  }
  &.proscenium-right {
    right: 0;
    background: repeating-linear-gradient(270deg, #340f20, #523144 33.33%, white 3%);
  }
}

@media screen and (max-width: 800px) {
  .proscenium { display: none; }

  main { width: 100%; }

  footer { width: 100%; }
}

@media screen and (max-width: 600px) {
  dl {
    grid-auto-flow: row;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  #canvas-container #start-audio-overlay {
    background: rgba(189, 115, 145, 0.9);

    & #start-audio-btn {
      display: none;
    }
    & #mobile-warning {
      display: block;
    }
  }
}

@media print {
  .proscenium {
    display: none; // don't waste ink
  }
}
